[submodule "goost"]
	path = modules/goost
	url = https://github.com/goostengine/goost
	branch = gd3
[submodule "sqlite"]
	path = modules/sqlite
	url = https://github.com/godot-extended-libraries/godot-sqlite
	branch = 3.2
[submodule "json"]
	path = modules/json
	url = https://github.com/godot-extended-libraries/json
	branch = master
[submodule "anl"]
	path = modules/anl
	url = https://github.com/Xrayez/godot-anl
	branch = gd3
[submodule "qurobullet"]
	path = modules/qurobullet
	url = https://github.com/quinnvoker/qurobullet
	branch = master
[submodule "voronoi"]
	path = modules/voronoi
	url = https://github.com/rakai93/godot_voronoi
	branch = master
[submodule "voxel"]
	path = modules/voxel
	url = https://github.com/Zylann/godot_voxel
	branch = godot3.3
[submodule "lportal"]
	path = modules/lportal
	url = https://github.com/lawnjelly/godot-lportal
	branch = master
[submodule "llightmap"]
	path = modules/llightmap
	url = https://github.com/lawnjelly/godot-llightmap
	branch = master
[submodule "smooth"]
	path = modules/smooth
	url = https://github.com/lawnjelly/godot-smooth
	branch = master
[submodule "tabletop_club_godot_module"]
	path = modules/tabletop_club_godot_module
	url = https://github.com/drwhut/tabletop_club_godot_module
	branch = master
[submodule "godot_box2d"]
	path = modules/godot_box2d
	url = https://github.com/briansemrau/godot_box2d
	branch = 3.x
